body {
  background-color: #f5f6f7;
  color: #4c4c4c;
  font: 400 14px/1.6 'Helvetica Neue',Helvetica,Arial;
  font-size: 14px;
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 2vw;
}

.command {
  display: inline-block;
  padding: 2px;
  padding-inline: 5px;
  background-color: #00000096;
  color: #e7e7e7;    
}

.command::before {
  content: "👉";
  margin-incline: 5px;
  color: #f38b08;
}
